/* 
  Basic reset including border-box implementation
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* Old browsers */
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
  }

   nav a {
      color: whitesmoke;
  }

  .hero {
      background-image: url("img/destinos_frontpage2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 600px;
      z-index: 0;
  }


  nav {
      background-color: rgba(0,0,0, 0.9);
      height: 80px;
      width: 100%;
      position: fixed;
  }

  header h1 {
      text-align: center;
      padding-top: 180px;
      font-family: "Space Mono", sans-serif;
      color: whitesmoke;
  }

  nav li {
      float: right;
      list-style: none;
      margin: 20px;
      font-family: "Space Mono", sans-serif;
      font-size: 1.2em;
  }

  li a {
    display: block;
    padding: 8px;
    
  }

  li a:hover {
      color: rgb(249, 139, 80);
  }

  h1 {
      font-size: 60px;
      letter-spacing: 1px;
  }

  h2 {
    font-family: "Space Mono", sans-serif;
    font-size: 2em;
    margin: 10px;
  }

  h3 {
    font-size: 1.6em; 
  }

  .tag-line {
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
  }

  .logo {
      float: left;
  }

  .cta {
      text-align: center;
      margin-top: 20px;
  }

  .special_offer {
    background-image: url("img/special_offer.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
    z-index: 2;
    width: 450px;
    position: absolute;
    right: 20px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .special_offer p {
    color: #250902;
    font-family: "Space Mono", sans-serif;
    font-weight: bold;
    padding-bottom: 72px;
    padding-left: 100px;
  }

  .special_offer span {
    color: #250902;
    font-family: "Space Mono", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 100px;
    padding-bottom: 0px;
  }
  
  .offer_image {
      position: absolute;
      top: 230px;
      right: 2%;
  }

  button {
      padding: 0 20px;
      background-color: rgb(211, 211, 211);
      line-height: 2.5;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      margin: 20px;
  }

section {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    text-align: center;
    min-height: 400px;
}

 .tours, .features {
    background-color: rgb(216, 216, 216);
}

.item {
    width: 23%;
	float: left;
	margin: 1%;
}

.trip {
    width: 29.3%;
	float: left;
	margin: 2%;
}

.testimonial {
    height: 500px;
}

.headshot {
    width: 20%;
    float: left;
    margin: 2%;
    border-radius: 100%;
}

.headshot-img {
    border-radius: 100%;
}

.clear {
    clear: left;}

.quote {
    width: 60%;
    float: left;
    margin: 2% 14% 2% 2%;
    text-align: left;
}

.monthly_special {
    background-image: url("img/meteor_showers2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 420px;
}

.monthly_special h2, .monthly_special p {
    color: #f3f3f3;
    padding-top: 15px;
}

.monthly_special button {
    margin-top: 8%;
    margin-right: 15%;
}
.meteor_text {
    width: 75%;
    text-align: left;
    float: left;
    padding: 3% 10% 5% 10%;
}

footer {
    background-color: rgb(216, 216, 216);
    height: 15rem;
}
.info {
    width: 29.3%;
	float: left;
	margin: 2%;
}

.copyright {
    padding: 30px 20px 0 0;
    float: right;
    
}

.destinos-rendition {
    float: left;
}

figure {
    margin-top: 100px;
}

.about {
    padding-top: 100px;
    height: 700px;
}

.reserve {
    background-image: url("img/starry-lakeshore.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    z-index: 0;
}
