/* 
  Basic reset including border-box implementation
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* Old browsers */
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
  }

   nav a {
      color: whitesmoke;
  }

  header {
      background-image: url("img/planet-placeholder.jpg");
      background-size: cover;
      height: 600px;
      z-index: 0;
  }

  nav {
      background-color: rgba(0,0,0, 0.8);
      height: 80px;
      width: 100%;
      position: fixed;
  }

  header h1 {
      text-align: center;
      padding-top: 180px;
      font-family: "Space Mono", sans-serif;
      color: whitesmoke;
  }

  nav li {
      float: right;
      list-style: none;
      margin: 20px;
      font-family: "Space Mono", sans-serif;
      font-size: 1.2em;
  }

  li a {
    display: block;
    padding: 8px;
    
  }

  li a:hover {
      color: rgb(249, 139, 80);
  }

  h1 {
      font-size: 60px;
      letter-spacing: 1px;
  }

  h2 {
    font-family: "Space Mono", sans-serif;
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em; 
  }

  .tag-line {
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
  }

  .logo {
      float: left;
  }

  .cta {
      text-align: center;
      margin-top: 20px;
  }

  .special_offer {
    background-image: url("img/special_offer.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    z-index: 2;
   
  }

  .special_offer p {
      color: green;
  }
  
  .offer_image {
      position: absolute;
      top: 230px;
      right: 2%;
  }

  button {
      padding: 0 20px;
      background-color: rgb(211, 211, 211);
      line-height: 2.5;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      margin: 20px;
  }

section {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    text-align: center;
    min-height: 400px;
}



 .tours {
    background-color: rgb(216, 216, 216);
    height: 520px;
}

.item {
    width: 23%;
	float: left;
	margin: 1%;
}

.trip {
    width: 29.3%;
	float: left;
	margin: 2%;
}

.headshot {
    width: 20%;
    float: left;
    margin: 2%;
    border-radius: 100%;
}

.headshot-img {
    border-radius: 100%;
}

.clear {
    clear: left;}

.quote {
    width: 60%;
    float: left;
    margin: 2% 14% 2% 2%;
    text-align: left;
}