/* 1. Global Styles
======================================== */

/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
======================================== */

/*
  Basic reset including border-box implementation
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Old browsers */
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/* 2. Typography Styles
  ======================================== */

h1 {
    font-size: 60px;
    letter-spacing: 1px;
}

h2 {
    font-family: "Space Mono", sans-serif;
    font-size: 2em;
    margin: 10px;
}

h3 {
    font-size: 1.6em;
}

header h1 {
    text-align: center;
    padding-top: 180px;
    font-family: "Space Mono", sans-serif;
    color: whitesmoke;
}

nav a {
    color: whitesmoke;
}

li a {
    display: block;
    padding: 8px;
}

li a:hover {
    color: rgb(249, 139, 80);
}

.tag-line {
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
}

.about h1 {
    font-family: "Space Mono", sans-serif;
}

.monthly_special h2,
.monthly_special p {
    color: #250902;
    padding-top: 15px;

}

.credit {
    font-size: 12px;
    font-style: italic;
    padding-left: 1%;
}

.blog-excerpt p,
.blog-excerpt h3 {
    text-align: left;
    padding-left: 10px;
}

/* 3. Structure Styles
  ======================================== */


  /* 4. Modules Styles
  ======================================== */
  
  /* Site Navigation */
  nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: .5em;
	padding-bottom: .5em;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    
}

.logo {
    display: block;
    
}

nav ul {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: block;
}

nav li {
    font-family: "Space Mono", sans-serif;
    font-size: 1.2em;
    margin: 5%;
}

/* Site Footer */
footer {
    background-color: rgb(216, 216, 216);
    height: 15rem;
}


.info {
    width: 29.3%;
    float: left;
    margin: 2%;
}

.copyright {
    padding: 30px 20px 0 0;
    float: right;

}
/* 5. Component Styles
  ======================================== */



.cta {
    text-align: center;
    margin-top: 20px;
}

.special_offer {
    background-image: url("img/special_offer.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
    z-index: 2;
    width: 450px;
    position: absolute;
    right: 20px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special_offer p {
    color: #250902;
    font-family: "Space Mono", sans-serif;
    font-weight: bold;
    padding-bottom: 72px;
    padding-left: 100px;
}

.special_offer span {
    color: #250902;
    font-family: "Space Mono", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 100px;
    padding-bottom: 0px;
}

.offer_image {
    position: absolute;
    top: 230px;
    right: 2%;
}

button {
    border: 1px solid #250902;
	box-shadow: 0px 10px 14px -7px #250902;
	background:linear-gradient(to bottom, #ffca00 5%,#cac3a6 100%);
	background-color:#ffca00;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	font-family: "Open Sans", sans-serif;
	font-size:20px;
	font-weight:bold;
    padding:13px 32px;
    margin: 10px;
}

button a {
    color: #250902;
    text-decoration: none;
}
button:hover {
	background:linear-gradient(to bottom, #cac3a6 5%,#ffca00 100%);
	background-color:#cac3a6;
}
button:active {
	position:relative;
	top:1px;
}


section {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    text-align: center;
}

section.tours {
    height: 600px;
}

section.features {
    height: 500px;
}

.tours {
    background-color: rgb(216, 216, 216);
}

.item {
    width: 23%;
    float: left;
    margin: 1%;
}

.trip {
    width: 29.3%;
    float: left;
    margin: 2%;
}

.testimonial {
    height: 300px;
}

.headshot {
    width: 20%;
    float: left;
    margin: 2%;
    border-radius: 100%;
}

.headshot-img {
    border-radius: 100%;
}

.clear {
    clear: left;
}

.quote {
    width: 60%;
    float: left;
    margin: 2% 14% 2% 2%;
    text-align: left;
}

.monthly_special {
    background-image: url("img/meteor_showers2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 420px;
}

.meteor_padding {
    padding-right: 350px;
}

.monthly_special button {
    margin-top: 10px;
    margin-right: 50px;
}

.meteor_text {
    width: 75%;
    text-align: left;
    float: left;
    padding: 3% 10% 5% 10%;
    color: #250902;
}

.destinos-rendition {
    float: left;
    padding: 40px;
}

figure {
    margin-top: 100px;
}

.about {
    padding-top: 100px;
    height: 700px;
    text-align: left;
}

.reserve {
    background-image: url("img/destinos_lodging.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    z-index: 0;
}

.resorts {
    width: 29.3%;
    float: left;
    margin: 2%;
}

.highlights {
    background-color: rgb(216, 216, 216);
    height: 500px;
}

.highlight {
    width: 20%;
    float: left;
}

.highlight_img {
    height: 180px;
}

.facts-background {
    background-image: url("img/dot-grid.png");
    height: 400px;
    width: 90%;
    margin: 10px auto;
}

.facts {
    height: 600px;
}

.facts-image {
    width: 380px;
}

.blog {
    height: 300px;

}

.blog-excerpt {
    width: 46%;
    float: left;
    margin: 2%;
}


.blog_author_img {
    height: 200px;
    float: left;
    border-radius: 100%;
    margin-right: 30px;
}

/* 6. Page Styles
  ======================================== */

.hero {
    background-image: url("img/destinos_frontpage2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    z-index: 0;
}

/* 7. Media Queries
  ======================================== */

  /* created with help from : https://codepen.io/samnorton/pen/zBYMJG */

  @media (max-width: 769px) {
	nav {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
	}
	nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .trip, .item {
        width: 100%;
    }
}
